a {
    color: white;
    text-decoration: none;
}
    
    #elHeader nav {
        background-color: black;
        color: white;
        text-align: center;
        width: 100%;
    }



#elFooter {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

    #elFooter a {
        color: pink;
    }

figure img { width: 100%; }