

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.top15{
	margin-top: 15px;
}

.instaIma figure {
	width: 100%;
}
.instaIma figure img {
	width: 100%;
	height: auto;
}

#target .row {
	margin-bottom: 15px;
}

.imgData { margin-top: 5px; }

.user { float: left; }
.likes { float: right; background-color: red; border-radius: 20px; padding: 5px; color: white;}













