

/* ==========================================================================
   Thimael's custom styles
   ========================================================================== */

.elemento {
	background-color: green;
	height: 300px;
	border: solid 1px black;
}















