#recipiente { width: 200px; height: 200px; background-color: grey; float: left;}
#fuente { width: 100px; height: 100px; float: left;}
#fuente img {
	width: 100%;
	height: auto;
}
.sobre { background-color: pink !important; }

#lienzo { background-color: silver; }